@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(27, 30, 61);
    min-height: 100dvh;
}
header{
    background-color: rgb(33, 37, 71);
    color: white;
    padding: 10px;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    height: 30px;
}
header h1{
    font-size: 1.2em;
}
section#zeroum section#textoum{
    color: rgb(165, 165, 165);
    width: 85dvw;
    margin: 80px 30px 0px;
}
section h1{
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.658);
    padding-top: 20px;
    font-size: 2em;
    font-weight: 700;
}
section p{
    padding-top: 20px;
    font-size: 1em;
}
div#botao{
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(165, 165, 165);
    margin: 30px auto 30px 50px;
    border-radius: 20px;
}
div#botao p{
    display: block;
    color: rgb(27, 30, 61);
    padding: 0px;
    font-weight: bold;
}
div#imagem{
    background-image: url(fogete-sem-fundo.png);
    background-size: contain;
    background-position: center center;
    width: 100dvw;
    height: 200px;
    margin: 100px 0px;
}
div#processos{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background-color: rgb(165, 165, 165);
    margin: 0px auto 30px;
    display: flex;
    justify-content: space-evenly;
}
section#zerodois h1{
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.658);
    padding-top: 20px;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    color: rgb(165, 165, 165);
}
section#zerodois p{
    display: block;
    width: 300px;
}