@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
}
/*
body::-webkit-scrollbar-track {
    background: orange;         color of the tracking area 
}*/
  body::-webkit-scrollbar-thumb {
    background-color: rgb(59, 59, 59);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    /*border: 3px solid orange;   creates padding around scroll thumb */
}
@font-face {
    font-family: 'roboto';
    src: url(Roboto/Roboto-Regular.ttf);
}
body{
    font-family: 'roboto';
    background-color: rgb(11, 13, 26);
    min-height: 100dvh;
}
header{
    background-color: rgb(11, 13, 26);
    color: white;
    padding: 10px;
    text-align: center;
    height: 30px;
    position: fixed;
    top: 0px;
    width: 99.4dvw;
}
header h1{
    font-size: 1.2em;
    margin-top: 3px;
}
section#zeroum{
    height: 150dvw;
    display: flex;
    align-items: center;
}
section#zeroum section#textoum{
    color: rgb(165, 165, 165);
    width: 85dvw;
    margin: 0px 30px 0px;
    padding-top: 10dvh;
}
section h1{
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.658);
    padding-top: 20px;
    font-size: 2em;
    font-weight: 700;
    color: rgb(247, 247, 247);
}
section#zeroum h1 img{
    width: 250px;
    display: inline-block;
    padding-top: 5px;
}
section p{
    padding-top: 20px;
    font-size: 1em;
}
div#imagemastronauta{
    background-image: url(Frame\ 4.png);
    background-color: rgb(203, 211, 214);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    width: 99.4dvw;
    height: 150dvw;
    margin: 60px 0px 100px;
    display: flex;
    align-items: center;
}
div#imagemastronauta h3{
    display: block;
    padding-left: 47dvw;
    text-align: center;
}
div#imagemastronauta a{
    background-color: rgb(11, 13, 26);
    color: rgb(203, 211, 214);
    text-decoration: none;
    padding: 3px 6px;
    display: inline-block;
    margin: 5px;
    border-radius: 5px;
}
div#imagemastronauta a:active{
    background-color: rgb(54, 27, 90);
    transition-duration: 3s;
}
div#imagemastronauta a img{
    display: inline-block;
    width: 20px;
}
section#zerodois h1{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    color: rgb(252, 252, 252);
}
div.processos{
    width: 99.4dvw;
    min-height: 100px;
    margin: 0px auto 60px auto;
}
div#traço{
    width: 35dvw;
    height: 3px;
    border-radius: 1.5px;
    background-color: rgb(165, 165, 165);
    margin: 50px auto 50px;
}
div.processos h2{
    color: rgb(247, 247, 247);
    padding-left: 15px;
}
div.processos p{
    display: block;
    color: rgb(165, 165, 165);
    padding: 15px;
}
div.imagemprocessos{
    width: 90dvw;
    height: 60dvw;
    background-color: black;
    margin: 20px auto 20px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
div#imgpum{
    background-image: url(idealizaçao.jpg);
}
div#imgpdois{
    background-image: url(frontend.jpg);
}
div#imgptres{
    background-image: url(back-end.jpg);
}
div#imgpquatro{
    background-image: url(publicando.jpg);
}
div#imgpcinco{
    background-image: url(impulsionamento.jpg);
}
footer{
    text-align: center;
    color: rgb(161, 161, 161);
}
footer p{
    padding: 10px;
    font-weight: 600;
    margin-bottom: 40px;
}
